
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
pubspec.lock
pubspec_overrides.yaml
**/doc/api/
.dart_tool/
.packages
build/
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# Rust related
/target/
/Cargo.lock
/platform-build
/packages/wasm_packages/release_files/
.vscode/settings.json
.fvm/flutter_sdk
packages/wasm_run/coverage
packages/rust_wasi_example/Cargo.lock
scripts/config_api.exe
packages/flutter_wasmi/example/macos/Flutter/ephemeral/flutter_export_environment.sh
packages/flutter_wasmi/example/ios/Flutter/flutter_export_environment.sh
packages/flutter_wasmi/example/android/local.properties
packages/flutter_wasmi/example/ios/Flutter/Generated.xcconfig
packages/flutter_wasmi/example/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
